
<div>
    @{
        TestApp.Models.Employee emp = (TestApp.Models.Employee)
            ViewData["Employee"];
    }

    <b>Employee Details </b><br />
    Employee Name : @emp.FirstName@emp.LastName <br />
    Employee Salary: @emp.Salary.ToString("C")
</div>

