
@using TestApp.ViewModels
@model EmployeeViewModel

Hello @Model.UserName
<div>
    <b>Employee Details </b><br />
    Employee Name : @Model.EmployeeName <br />
    <span style="background-color:@Model.SalaryColor">
        Employee Salary: @Model.Salary
    </span>

</div>

